@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* product grid styles */

.product-container-title {
  text-align: center;
  font-size: 3rem;
}

.product-container {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
}

.product-container-title {
  font-size: 2rem;
  font-weight: bold;
  margin: 20px;
}

.product-article {
  -webkit-box-shadow: 10px 11px 26px 1px rgba(0,0,0,0.14);
  -moz-box-shadow: 10px 11px 26px 1px rgba(0,0,0,0.14);
  box-shadow: 10px 11px 26px 1px rgba(0,0,0,0.14);
  border: 1px solid grey;
  margin: 20px;
  width: 275px;
  font-size: 0.8rem;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.product-article h1 {
  font-size: 1.2rem;
  color: rgb(0, 94, 255);
  font-weight: bold;
  margin-bottom: 1rem;
}

.product-article p {
  margin-bottom: 1rem;
}

.product-category {
  font-style: italic;
  font-size: 1.2rem;
}

.product-article img {
  width: 100%;
  margin-bottom: 2rem;
}

.product-article .price-tag {
  margin-top: auto;
  font-size: 1.4rem;
}
